@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Pharma &mdash; Colorlib</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
        <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="qlsp">WebAPI</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="qlsp">Home</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
 
        <div class="container my-3">
        <div class="row align-items-center py-5">
            <div class="col-6">
                <h3>
                    Web API</h2>
            </div>
            <div class="col-6">
                <div class="dropdown text-right">

                    Xin chào <a id="user-email" data-user="@HttpContextAccessor.HttpContext.Session.GetString("_User")"
                        class="dropdown-toggle text-primary" data-toggle="dropdown">
                        @HttpContextAccessor.HttpContext.Session.GetString("_User")
                    </a>
                    <div class="dropdown-menu">
                        
                        <a class="dropdown-item" href="/">
                            <i class="fas fa-sign-out-alt"></i>&nbsp;&nbsp; Đăng xuất</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-light py-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 mb-0">
                        <a href="qlsp">Quản lý thuốc</a> <span class="mx-2 mb-0">/</span>
                        @*<a href="shop.html">Cửa Hàng</a> <span class="mx-2 mb-0">/</span>*@
                        <strong id="nameThuocH" class="text-black"></strong>
                    </div>
                </div>
            </div>
        </div>

        <div class="site-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 mr-auto">
                        <div class="border text-center">
                            <img id="image" src="" alt="Image" class="img-fluid p-5">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h2 id="nameThuoc" class="text-black"></h2>
                        <p id = "desc">
                        </p>


                        <p>  <strong id="priceThuoc" class="text-primary h4"></strong></p>

                        <p>
                            <a class="btn-edit btn btn-sm height-auto px-4 py-3 btn-primary">Chỉnh sửa</a>
                            <a class="btn-delete btn btn-sm height-auto px-4 py-3 btn-danger">Xóa</a>
                        </p>
                        
                    </div>
                </div>
            </div>
            
            
            <!-- Confirm delete -->
                <div id="delete-modal" class="modal fade modal-delete">
                    <div class="modal-dialog ">
                        <div class="modal-content">

                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">Xóa sản phẩm</h4>
                                <button type="button" class="close btn-cancel" data-dismiss="modal">&times;</button>
                            </div>

                            <!-- Modal body -->
                            <div class="modal-body">
                                Bạn có chắc rằng muốn xóa sản phẩm <strong class="thuoc-delete"></strong>?
                            </div>

                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger btn-confirm-delete">Xóa</button>
                                <button type="button" class="btn btn-dark btn-cancel" data-dismiss="modal">Đóng</button>
                            </div>

                        </div>
                    </div>
                </div>
            <!-- End Confirm delete -->

            <!-- Update user -->
                <div id="edit-modal" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">Cập nhật sản phẩm</h4>
                                <button type="button" class="close btn-cancel" data-dismiss="modal">&times;</button>
                            </div>

                            <!-- Modal body -->
                            <div class="modal-body">

                                <div class="form-group">
                                    <label for="name">Tên thuốc</label>
                                    <input value="" class="form-control" type="text" placeholder="Nhập tên sản phẩm" id="nameOld" name="nameOld">
                                </div>
                    
                                <div class="form-group">
                                    <label for="price">Giá</label>
                                    <input value="" class="form-control" type="number" placeholder="Nhập giá" id="priceOld" name="priceOld">
                                </div>
                                <div class="form-group">
                                    <label for="description">Mô tả</label>
                                    <textarea id="descOld" class="form-control"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="img">Ảnh sản phẩm</label>
                                    <div class="custom-file">
                                      <input id="imageOld" type="file" class="custom-file-input" id="customFile" name="image">
                                      <label class="custom-file-label" for="customFile">Choose file</label>
                                    </div>
                                    <div class="preview row mt-3">
                                          <img id="image" style="max-width: 75%;" src="">
                                    </div>
                                  </div>

                                    <div style="display: none;" class="alert alert-danger check-update-value">
                                      invalid name
                                    </div>

                            </div>
                            

                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary btn-confirm-edit">Cập nhật</button>
                                <button type="button" class="btn btn-dark btn-cancel" data-dismiss="modal">Đóng</button>
                            </div>
                            </div>
                                <div style="display: none;" id="flash-alert" class="alert alert-danger text-center mx-auto my-3 toast_success">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                <strong style="width: 100%" class="err-message"></strong>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- End Update user -->
        </div>
        @section Scripts{
        <script>
            if(!$('#user-email').data("user") ){
                window.location.href = '/'
            }
            $.ajax({
                type: 'GET',
                url: "/api/product/" + window.location.search.split('=').pop(),
                processData: false,
                contentType: false,
                success: function (data) {
                    ajaxLoad(data.data)
                }
            });

            function ajaxLoad(data){
                $('#nameThuocH').html(data.name);
                $('#image').attr('src', `../images/${data.image}`)
                $('#nameThuoc').html(data.name);
                $('#nameThuoc').attr('data-id', data.thuocId);
                $('#nameThuoc').attr('data-image', data.image);
                $('#priceThuoc').html(data.price + "VNĐ");
                $('#desc').html(data.description)
            }
            $(document).ready(() =>{
                $(".custom-file-input").on("change", function () {
                    var fileName = $(this).val().split("\\").pop();
                    $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
                })
                $('.btn-delete').click(e => {
                    $('#delete-modal').modal('show')
                       
                    $('.modal-delete .thuoc-delete').html($('#nameThuoc').text())
                });


                $('.btn-confirm-delete').click(e => {
                    $.ajax({
                        type: 'DELETE',
                        url: "/api/product/delete/" + $('#nameThuoc').data("id"),
                        processData: false,
                        contentType: false,
                        success: function (data) {
                            if(data.status == 200){
                                $('#delete-modal').modal('hide')
                                window.location.href = 'qlsp'
                            }
                        }
                    });
                })

                $('.btn-edit').click(e => {
                    $('#edit-modal').modal('show')
                    let image = $('#nameThuoc').data("image")
                    $('.custom-file-label').html(image)
                    $('#nameOld').val($('#nameThuoc').text())
                    $('#priceOld').val(parseInt($('#priceThuoc').text()))
                    $('#descOld').val($('#desc').text())
                });

                $('.btn-confirm-edit').click(e => {
                    if(!$('#nameOld').val() || !$('#priceOld').val() || !$('#descOld').val() || !$('.custom-file-label').text()){
                         showToast("Vui lòng nhập đầy đủ thông tin");
                         return;
                    }
                    console.log($('.custom-file-label').text())
                    let form = new FormData();
                    form.set('thuocId', $('#nameThuoc').data("id"));
                    form.set('name', $('#nameOld').val());
                    form.set('price', $('#priceOld').val());
                    form.set('description', $('#descOld').val());
                    form.set('image', $('.custom-file-label').text());

                    $.ajax({
                        type: 'PUT',
                        url: "/api/product/edit/" + $('#nameThuoc').data("id"),
                        data: form,
                        processData: false,
                        contentType: false,
                        success: function (data) {
                            if(data.status == 200){
                                location.reload();
                            }
                        }
                    });

                })

                function showToast(message) {
                    $('#flash-alert').fadeIn(100)
                    $('#flash-alert .err-message').html(message)

                    setTimeout(() => {
                        $('#flash-alert').fadeOut(2000)
                    }, 1000)
                }
                $('.btn-cancel').click(e => {
                    $('#delete-modal').modal('hide')
                    $('#edit-modal').modal('hide')
                })
            })    
        </script>
        }
</body>

</html>